* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    box-sizing: border-box;
}

#main_block {
    position:absolute;
    z-index:998;
    width:200px;
    height:200px;
    left:50vw;
    margin-left:-100px;
    top:50vh;
    margin-top:-100px;
    background-color: #e59c0e;
    box-sizing: border-box;
    border:1px solid black;
    transition:1s all linear;
}

#main_block button {
    margin: 2px;
    padding: 5px;
}